body {
  background-color: gray;
  border: 0px;
  padding: 0px;
  margin: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Arial, Helvetica, sans-serif;
}

div {
  border-radius: 3px;
  border: 0px;
  margin: 0px;
  padding: 5px;
}

.page {
  background-color: antiquewhite;
  width: 100%;
  border: 1px solid grey;
}

.page-header,
.workout {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

.page-header-content {
  flex: 1 1 50%;
  box-sizing: border-box;
  border-bottom: 1px solid lightgray;
  border-radius: 0px;
}
.page-notes-top {
  font-weight: lighter;
  font-style: italic;
  background-color: rgb(245, 245, 245);
  padding: 20px;
}

.workout {
    border: 1px solid black;
}

.workout-header{
    border: 1px solid blue;
}

.exercise {
    border: 1px solid red;

}

.set {

    border: 1px solid magenta;
}