body {
  background-color: gray;
  border: 0px;
  padding: 0px;
  margin: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Arial, Helvetica, sans-serif;
}

div {
  border-radius: 3px;
  border: 0px;
  margin: 0px;
  padding: 5px;
}

.page {
  background-color: antiquewhite;
  width: 100%;
  border: 1px solid grey;
}

.page-header,
.focus-container {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

.page-header-content {
  flex: 1 1 50%;
  box-sizing: border-box;
  border-bottom: 1px solid lightgray;
  border-radius: 0px;
}
.page-notes-top {
  font-weight: lighter;
  font-style: italic;
  background-color: rgb(245, 245, 245);
  padding: 20px;
}

.focus-notes,
.focus-header {
  flex: 1 1 100%;
  border: 1px solid blue;
}

.exercise-container {
  display: flex;
  padding: 0px;
  flex-direction: column;
  width: 100%;
}

.exercise {
  flex: 1, 1, 100%;
  box-sizing: border-box;
  margin: 0px;
  border: 1px solid red;
}

.set {
  border: 1px solid magenta;
}
